body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: #4c68f4(130, 106, 251);
} 

/*css for anupama*/
/* body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: #4c68f4(130, 106, 251);
} */

.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    text-align: left;
}

.container form {
    margin-top: 30px;
}

form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: black;
}

form .input-box input {
    position: relative;
    height: 30px;
    width: 100%;
    outline: none;
    font-size: 1 rem;
    color: gray;
    margin-top: 8px;
    /* border: 1px solid black; */
    border-radius: 6px;
    padding: 0 15px;
    background: rgb(192, 240, 255);
}
form .input-box input[type="file"] {
  display: none;
}
form .input-box .custom-file-upload {
    
    cursor: pointer;
  }
/*
.Position :where(input, .select-box){
    margin-top:15;
}
*/
.select-box select {
    height: 50px;
    width: 100%;
    color: gray;
    font-size: 1rem;
    background: rgb(192, 240, 255);
    border-radius: 6px;
    border: none;
}
.container header{
    color: #604BE8;
    font-weight: 900;
}


form .input-box .filetype {
    height: 115px;
    width: 100%;
    background: rgb(192, 240, 255);
    display: flex;
    justify-items: center;
    align-items: center;
    

}
.img-box{
    height: 100px;
    width: 100%;
    font-size: 1.2rem;
    background: rgb(192, 240, 255);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-top: 10px;
}
.img-box i{
    font-size: 2rem;
    color: #604BE8;
}

form .input-box .savechanges{
    background: rgb(30, 0, 255);
    color: white;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}

@media screen and (max-width:500px) {
    form.column {
        flex-wrap: wrap;
    }

}